input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.screen{
    padding: 5px;
    margin: 0;
    position: relative;
    left: 50%;
    top: 20px;
    font-size: 30px;
    width: 80%;
    border: 1px solid black;
    transform: translate(-50%,0);
    outline: 0;
}

